h2 {
    font-size: 24px;
  }

  a {
    text-decoration: underline !important;
  }

  .book-menu{
    a{
      text-decoration: none !important;
    }
    a.active {
      color: var(--color-active-link);
      font-weight: 600;
    }
  } 
